html 
  head 
    title Tilføj bil 
  body 
    form(action="/addCar", method="post")
      input(type="text", name="bilMaerke")
      input(type="text", name="alder")
      input(type="submit", value="Tilføj bil")
    