html
  head 
    title 👨‍🏫 Biler
  script.
    async function deletE(url, id) {
        const respons = await fetch(url + '/' + id, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (respons.status !== 201) // Deleted
            throw new Error(respons.status);
        return await respons.text();
    }

    let deletefunction = async (id) => {
            try {
                await deletE("/deleteCar", id);
                window.location.href='/cars';
            } catch (e) {
                console.log("Fejl");
            }
        }
  body 
    ul 
      each bil in biler
        li= ''
          a(href='javascript:deletefunction(\'' + bil.docID + '\')')= bil.bilMaerke + ' ' + bil.alder
    a(href="/addCarPage") tilføj bil
    form(action = "/searchcars/", method="get")
      input(type="text", name="maerke")
      input(type="submit", value="Søg")

