.grid-container {
    
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 80px;
    grid-row-gap: 12px;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        width: 100px;
        height: 100px;
        font-size: 25px;
    }
    table, th, td {
        border: 2px solid blue;
    }